/* Fonts */
body {
    font-family: arial, tahoma, sans-serif;
    font-size: 15px;
    font-weight: 500;
}
caption {
    text-transform: uppercase;
    font-size: 2em;
}
th {
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.6);
}
.rating, .budget, .boxoffice {
    font-weight: 700;
}
.number {
    font-weight: 800;
}
.title p {
    color: #333333;
}
.title p:first-child {
    font-weight: 700; 
}
.title p:last-child {
    color: #777777;
}
.summary {
    font-size: 0.8em;
}

/* Geometry */
caption {
    padding: 1em;
}
table {
    border: solid 1px black;
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
p {
    margin: 0em;
}
th {
    padding: 2em;;
}
body td {
    padding-top: 0.5em 0em 0em 0em;
    margin: 0em;
}
.number {
    vertical-align: top;
    padding-left: 1em;
    padding-right: 0.3em;
    text-align: right;
}
.poster {
    width: 64px;
    height: 96px;
    vertical-align: top;
}
.poster img {
    width: 64px;
    height: 96px;
}
.title {
    vertical-align: center;
    width: 23em;
}
.title p {
    margin-bottom: 0.3em;
    padding-left: 1em;
}
.summary {
    text-align: justify;
    vertical-align: center;
    width: 40em;
}
.rating, .budget, .boxoffice {
    vertical-align: center;
    text-align: center;
}

/* Colors */
caption {
    color: white;
}
body {
    background: linear-gradient(180deg, rgb(68, 71, 56), rgb(182, 148, 82));
    color: black;
}
table {
    background: linear-gradient(180deg, rgb(218, 244, 134), rgb(221, 166, 57));
}
tbody tr:nth-child(odd) {
    background: linear-gradient(180deg, rgb(218, 244, 134), rgb(221, 166, 57));
}
tbody tr:nth-child(even) {
    background: linear-gradient(180deg, rgb(218, 244, 134), rgb(221, 166, 57));
}
.title p {
    color: #333333;
}
.title p {
    color: black;
}
.title p:last-child {
    color: #3a4053;
}
tbody tr:hover {
    background: linear-gradient(0deg, rgb(119, 120, 77), rgb(126, 116, 65));
}
.rating {
    color: #068330;
}
.budget {
    color: #00005d;
}
.boxoffice {
    color: #703c18;
}
th {
    color: #41462f;  
}

